[submodule "vim"]
	path = vim
	url = https://github.com/ludat/vimrc
[submodule "zshrc"]
	path = zshrc
	url = https://github.com/ludat/zshrc
[submodule "tmux/tmux/tpm"]
	path = tmux/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
