[submodule "vim"]
	path = vim
	url = git@github.com:ludat/vimrc.git
[submodule "zshrc"]
	path = zshrc
	url = git@github.com:ludat/zshrc.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
